@import "tailwindcss";

@theme {
  --color-primary: #3D362F; /* --colora3 */
  --color-secondary: #C5AC96; /* --colora0 */
  --color-accent: #90806F; /* --colora4 */
  --color-dark: #28241F; /* --colora5 */
  --color-light: #f4f7f9; /* --colora1 */
  --color-textGray: #555555; /* --colora6 */

  --font-sans: 'Poppins', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;

  --animate-slide-in-left: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

html { scroll-behavior: smooth; }

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}